<p id="notice"><%= notice %></p>
<h1>Order info</h1>
<table class="table">
  <thead>
   <tr>
      <th>name</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= @order.product %></td>
      </tr>
  </tbody>
</table>


<%= link_to 'Edit', edit_client_order_path(@order.client, @order) %> |
<%= link_to 'Back', client_orders_path %>
