<p><%= link_to "books_path", books_path %></p>
<p><%= link_to "products_path", products_path %></p>
<p><%= link_to "people_path", people_path %></p>
<p><%= link_to "articles_path", articles_path %></p>
