<h1>Book info</h1>


<table class="table">
  <thead>
   <tr>
      <th>title</th>
      <th>summary</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= @book.title %></td>
        <td><%= @book.summary %></td>
      </tr>
  </tbody>
</table>
