<h1>address info</h1>


<table class="table">
  <thead>
   <tr>
      <th>title</th>
      <th>summary</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <!-- <td><%#= @address.title %></td> -->
        <td><%= @address.province %></td>
      </tr>
  </tbody>
</table>
